 .container {
     width: 60%;
     margin-top: 10%;
     margin-bottom: 10%;
     background-image: url(img/bg2.gif);
     background-size: cover;
     background-attachment: fixed;
     border: 2px solid white;
     border-radius: 2%;
 }

 a.link.link-light {
     text-decoration: none;
     color: white;
 }

 #date-part {
     font-size: 1.2em;
     color: white;
     margin-top: 4px;
 }

 #time-part {
     font-size: 2em;
     color: white;
 }

 span {
     color: white;
 }

 p.h4.mb-4 {
     color: white;
 }

 body {
     background-color: rgb(5, 43, 42);


 }